sorces/*
!/sorces/links.txt
draft/*.log

# Latex files
 
draft/*.bcf
draft/*.run.xml
draft/*.aux
draft/*.glo
draft/*.idx
draft/*.log
draft/*.toc
draft/*.ist
draft/*.acn
draft/*.acr
draft/*.alg
draft/*.bbl
draft/*.blg
draft/*.tui
draft/*.top
draft/*.tmp
draft/*.mp
draft/*.dvi
draft/*.glg
draft/*.gls
draft/*.ilg
draft/*.ind
draft/*.lof
draft/*.lot
draft/*.maf
draft/*.mtc
draft/*.mtc1
draft/*.out
draft/*.synctex.gz
draft/*.pdf
 
# Mac finder files and hidden folders
.DS_Store